@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  // height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@font-face{
  font-family: 'YouSheBiaoTiHei-2';
  src: url('./YouSheBiaoTiHei-2.ttf');
  font-style: normal;
}

@font-face{
  font-family: 'HuXiaoBo-NanShenTi2.0';
  src: url('./HuXiaoBo-NanShenTi2.0.ttf');
  font-style: normal;
}

@font-face{
  font-family: 'HuXiaoBoNanShenTi';
  src: url('./胡晓波男神体2.0.ttf');
  font-style: normal;
}

@font-face{
  font-family: 'PangMenZhengDao';
  src: url('./庞门正道标题体3.0.ttf');
  font-style: normal;
}

@font-face{
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei.ttf');
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
